$body-bg: white;
$body-color: white;

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
